:root {
  --main-bg-color: #eee2da;
  --main-txt-color: #201c1c;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #32393d;
    --main-txt-color: #bdbdbd;
    --h1-h1-color: #00ffc5;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/* CUSTOM STYLES */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Raleway", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

::selection {
  background: #00ffc5;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #00ffc5;
  /* Gecko Browsers */
}

a {
  color: var(--main-txt-color);
  font-weight: var(--fw-semibold);
}

body {
  position: relative;
  padding: 1rem;
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
}

.c-title {
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  font-size: 18vw;
  line-height: 80%;
}

.c-title--right {
  text-align: right;
}

.c-about {
  margin-top: 6rem;
}

@media only screen and (min-width: 1024px) {
  .c-about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .c-about__img-container {
    grid-column: 7 / 13;
    grid-row: 1;
    margin-right: -1rem;
    margin-top: 22vw;
  }
}

.c-about__img {
  width: 80%;
}

@media only screen and (min-width: 1024px) {
  .c-about__img {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .c-about__txt-container {
    grid-column: 1 / 7;
    grid-row: 1;
  }
}

.c-about__text {
  font-weight: var(--fw-semibold);
  font-size: 2rem;
  line-height: 120%;
  margin-top: 2rem;
}

@media only screen and (min-width: 1024px) {
  .c-about__text {
    font-size: 2.7vw;
  }
}

.c-about__text + .c-about__text {
  margin-top: 2rem;
}

.c-speaking {
  margin-top: 6rem;
}
@media only screen and (min-width: 1024px) {
  .c-speaking {
    margin-top: 12rem;
  }
}

.c-speaking__item {
  margin-top: 2rem;
}
@media only screen and (min-width: 1024px) {
  .c-speaking__item {
    margin-top: 4rem;
    width: 85%;
  }
}

.c-speaking__item-title {
  font-size: 2rem;
  line-height: 120%;
  font-weight: var(--fw-bold);
}
@media only screen and (min-width: 1024px) {
  .c-speaking__item-title {
    font-size: 3rem;
  }
}

.c-speaking__item-location {
  font-size: 1.2rem;
  line-height: 120%;
  font-weight: var(--fw-semibold);
  margin-top: .5rem;
}
@media only screen and (min-width: 1024px) {
  .c-speaking__item-location {
    font-size: 2.25rem;
  }
}

.c-speaking__item-abstract {
  font-weight: var(--fw-medium);
  line-height: 120%;
  font-size: 1.5rem;
  margin-top: 2rem;
}
@media only screen and (min-width: 1024px) {
  .c-speaking__item-abstract {
    font-size: 2.25rem;
  }
}

.c-get-in-touch {
  margin-top: 6rem;
}
@media only screen and (min-width: 1024px) {
  .c-get-in-touch {
    margin-top: 12rem;
  }
}

.c-get-in-touch__list {
  margin-top: 2rem;
}
@media only screen and (min-width: 1024px) {
  .c-get-in-touch__list {
    margin-top: 4.5rem;
  }
}

.c-get-in-touch__list-item + .c-get-in-touch__list-item {
  margin-top: .3rem;
}

.c-get-in-touch__list-anchor {
  font-size: 2rem;
  font-weight: var(--fw-bold);
}
@media only screen and (min-width: 1024px) {
  .c-get-in-touch__list-anchor {
    font-size: 5rem;
  }
}